div#box {
  height: 200px;
  overflow: hidden;
  padding: 10px;
  border-radius: 11px;
  background: #e8ecf3;
  margin-top: 8px;
  color: @primary-color;
}
input.FormChat {
  margin: 5px 0;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbbbbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
#titleNl{
  font: bold 27pt "Trebuchet MS";
  text-align: left;
  margin-bottom: 0px;
  color: #F95;
  letter-spacing: -2px;
}
#titleNl span{
  font-weight: normal;
  color: #BBB;
}
i.fas.fa-comment-alt.chatIcon {
  margin-right: 5px;
}
